form {

    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12PT;
}

h1{

    font-size: 30px;
    color: white;
}

.inputform
{
    -moz-border-radius:5px; /* Firefox */
    -webkit-border-radius: 7px; /* Safari, Chrome */
    -khtml-border-radius: 7px; /* KHTML */
    border-radius: 7px; /* CSS3 */
    padding: 2px;
    margin-bottom: 10px;
}

.table1{
    border: 1px solid darkslategrey;
    padding: 25px;
    background-color: #f8f8ff;
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    color: darkslategrey;
    margin: 5%;
    }

.table2{
    font-family: 'Roboto', sans-serif;
    padding: 35px;
    color: white;

}

.tablesearch {
    padding: 90px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;

}

input.submit {
    width: 5em;  height: 2em;
}

ul {
    list-style-type: none;
    margin: 0;
}

#submit {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: right;

}

h4{

    font-size: 12px;
}

h2{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.resultdisplay{
    float: left;
    border-style: solid;
    border-color: darkslategrey;
}

.loader {
    border: 16px solid darkslategrey;
    border-radius: 50%;
    border-top: 16px solid darkslategrey;
    border-bottom: 16px solid darkslategrey;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container{

    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

#banner{

    max-width: 1500px;
    background-color: snow;
    font-family: 'Roboto', sans-serif;
    height: 80px;
    color: darkslategrey;

}

#navigation{
    max-width: 1500px;
    background-color: #666699;
    height: 40px;
}

#content{
    max-width: 1500px;
    background-image: url("assets/banner2.jpg");
}

button{

    float: right;

}

#content2{

    background-color: snow;
}

#content3{
    
    background-image: url("assets/wallpaper.jpg");
}

.floatleft {
    float: left;
}

.floatright{
    float: right;
}

#spotlight {

    color: #666699;
    height: 400px;



}

#spotlight2 {

    color: #666699;
    height: 400px;



}

#spotlight3 {

    color: #666699;
    height: 400px;



}

main{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    height:600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    color: darkslategrey;
    background-color: snow;
    padding-top: 30px;
}


#img2{

    height: 200px;
    border: 2px solid orange;
    -moz-border-radius:5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
}

#featured{

    margin-top: 0;


}

.centre{

    text-align: center;
    color: #ffa500;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

#img3{

    height: 75px;
}

#foot{

    max-width: 1500px;
    background-image: url("assets/footerbg.jpg");
    font-family: 'Roboto', sans-serif;
    font-size: 10PT;
    color: white;
    height: 125px;
    padding: 25px;
}

#copyright{

    text-align: right;
}

nav[role="main"] ul li a{
    display:inline-block;
    float: right;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-decoration: none;
    color: white;

}
nav[role="sub"] ul li a{
    display: inline-block;
    float: left;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

nav[role="sub"] li a:HOVER{

    color:darkslategrey;

}

nav[role="main"] li a:HOVER{
    background-color: snow;
    color: darkslategrey;
    padding: 10px;
}

#img{

    height: 50px;
    margin-top: 10px;
}

body{
    background-color: snow;
    margin-top: 0;
}

