.left {


   float: left;

}

.rightside{

    float: right;
}

.right {

    width: 99%;
    background-color: darkslategrey;
    font-family: 'Open Sans', sans-serif;
    font-size: 10PT;
    padding: 10px;
    vertical-align: top;
    color: white;
    margin-top: 0;
    margin-left: 0;
    text-align: right;
    height: 70px;


}

#img{

   height: 50px;
}

#img2{

    border: 1px solid darkslategrey;
    height: 100px;
}

.table2{

    float: right;
    width: 55%;
    font-family: 'Roboto', sans-serif;
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    padding: 5px;
    margin-bottom: 10px;

}

.right2{


    font-size: 20px;
}

body{
    background-color: whitesmoke;
    margin-top: 0;

}

.t2{


}


.nav{


    color: darkslategrey;
    font-size: 14PT;
    text-align: right;


}

.right3{






}

header{


    color: darkslategrey;
    font-size: 12PT;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

}

form {

    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12PT;
    
}

.inputform
{
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    padding: 5px;
    margin-bottom: 10px;
    ;
}


#form{

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.fh3{

    font-family: 'Open Sans', sans-serif;
    text-align: left;

}


.table1{

    float: left;
    background-color: darkslategrey;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    margin-bottom: 5%;
    margin-left: 2%;
}

.table3{

    float: left;
    background-color: lightgray;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    margin-bottom: 5%;
    margin-left: 2%;
}


.foot{

    text-align: left;
    font-family: 'Open Sans', sans-serif;
    vertical-align: bottom;
    font-size: 10PT;
    color: white;
}

input.submit {
    width: 6em;  height: 3em;
}

ul {
    list-style-type: none;
    margin: 0;


}

.moveright{





}

li{






}

li a{

    float: right;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 10px;
    text-decoration: none;



}

A:HOVER{

    background-color: whitesmoke;
    COLOR: black;
    padding: 10px;
}

h2{

    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

h4{
    color: white;
}

#submit {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}


.small{

    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    color: white;
}

.resultdisplay{
    float: left;
    border-style: solid;
    border-color: darkslategrey;
}

.loader {
    border: 16px solid darkslategrey;
    border-radius: 50%;
    border-top: 16px solid darkslategrey;
    border-bottom: 16px solid darkslategrey;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}









.container{

    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

}

#banner{

    max-width: 1500px;
    background-color: whitesmoke;
    height: 70px;



}

#navigation{
    max-width: 1500px;
    background-color: white;
    height: 40px;



}


main {

}


#content2{
    max-width: 1500px;
    background-color: white;
    height: 500px;

}

#foot2{
    max-width: 1500px;
    background-color: lightgray;
    height: 50px;


}