form {

    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12PT;
}

h1{

    font-size: 30px;
    color: white;
}

.inputform
{
    -moz-border-radius:5px; /* Firefox */
    -webkit-border-radius: 7px; /* Safari, Chrome */
    -khtml-border-radius: 7px; /* KHTML */
    border-radius: 7px; /* CSS3 */
    padding: 2px;
    margin-bottom: 10px;
}

.table1{
    border: 1px solid darkslategrey;
    padding: 25px;
    background-color: #f8f8ff;
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    color: darkslategrey;
    margin: 5%;
    }

.table2{
    font-family: 'Roboto', sans-serif;
    padding: 35px;
    color: white;

}

.tablesearch {
    padding: 80px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;

}

input.submit {
    width: 5em;  height: 2em;
}

ul {
    list-style-type: none;
    margin: 0;
}

#submit {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: right;

}

h4{

    font-size: 12px;
}

h2{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.resultdisplay{
    float: left;
    border-style: solid;
    border-color: darkslategrey;
}

.loader {
    border: 16px solid darkslategrey;
    border-radius: 50%;
    border-top: 16px solid darkslategrey;
    border-bottom: 16px solid darkslategrey;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container{

    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

#banner{

    max-width: 1500px;
    background-color: #669999;
    font-family: 'Roboto', sans-serif;
    height: 80px;
    color: darkslategrey;

}

#navigation{
    max-width: 1500px;
    background-color: #dadada;
    height: 40px;
}

#content{
    max-width: 1500px;
    background-image: url("assets/banner2.jpg");
}

button{

    float: right;

}

#content2{

    background-color: snow;
}

#content3{
    
    background-image: url("assets/wallpaper.jpg");
}

.floatleft {
    float: left;
}

.floatright{
    float: right;
}

#foot{

    max-width: 1500px;
    background-color: lightgray;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 10PT;
    color: darkslategrey;
}

li a{
    float: right;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: darkslategrey;
}

li a:HOVER{
    background-color: snow;
    color: darkslategrey;
    padding: 10px;
}

#img{

    height: 50px;
    margin-top: 10px;
}

body{
    background-color: snow;
    margin-top: 0;
}

