body {
    background-color: cornflowerblue;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

}

main {

    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    background-color: aliceblue;
    padding: 0px;
    flex-direction: row;
    display: flex;

}

#cont1 {
    background-color: gold;
    margin: 10px;
    width: 1200px;


}
#cont2 {
    background-color: silver;
    margin: 10px;



}

#cont3 {
    background-color: saddlebrown;
    margin: 10px;


}

.banner{
    background-color: slategrey;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    color: white;
}

.foot{

    background-color: slategrey;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    color: white;


}

.nav {
    background-color: lightgray;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    color: black;
    text-align: right;
}